@model BuildAdminPanelAspNetCore.Areas.SA.Models.BEL.UserInRoleBEL
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="UserID" hidden/>
    <div class="border p-3 mt-4 row">
        @*    <div class="card">*@
        <div class="card-header">
            <h4 class="text-primary">@(Model.UserID != null ? "Update" : "Create") UserInRole</h4>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="UserID" class="form-label mt-4">UserID</label>
                    <input asp-for="UserID" type="text" class="form-control">
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="form-label mt-4">Password</label>
                    <input asp-for="Password" type="text" id="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="form-label mt-4"></label>
                    <input asp-for="ConfirmPassword" id="ConfirmPassword" type="text" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <span id="passwordMatch"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="RoleID" class="form-label mt-4">Role</label>
                    <select asp-for="RoleID" class="form-control select2" style="width: 100%;" asp-items="@Model.RoleList">
                        <option disabled selected>---Select Role---</option>
                    </select>
                    <span asp-validation-for="RoleID" class="text-danger"></span>
@*                    <label asp-for="RoleID"></label>
                    <select asp-for="RoleID" asp-items="@Model.RoleList" class="form-select">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="RoleID" class="text-danger"></span>*@
                </div>
                <div class="form-group">
@*                    <label asp-for="EmpID" class="form-label mt-4">Employee</label>
                    <select class="form-control select2" style="width: 100%;" asp-items="@Model.EmpList" id="EmpID" class="form-select">
                        <option disabled selected>---Select Employee---</option>
                    </select>*@
                    <label asp-for="EmpID" class="form-label mt-4">Employee</label>
                    <select asp-for="EmpID" multiple="multiple" class="form-control select2" style="width: 100%;" asp-items="@Model.EmpList">
                        <option disabled selected>---Select Employee---</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <input asp-for="IsActive" type="checkbox" class="form-check-input" id="IsActive" name="IsActive" checked>
                <label class="form-check-label" asp-for="IsActive">IsActive</label>
            </div>
        </div>
        <div class="card-foorter">
            <div class="col-12">
                @if (Model.UserID != null)
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                }
                <a asp-area="SA" asp-controller="UserInRole" asp-action="frmUserInRole" class="btn btn-secondary" style="width:150px">
                    Back to List
                </a>
            </div>

        </div>
    </div>
    @*   </div>*@

</form>


@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }

    <script>

        $(document).ready(function () {

            // Cache the password and confirm password fields
            var passwordField = $("#Password");
            var confirmPasswordField = $("#ConfirmPassword");
            var passwordMatchMessage = $("#passwordMatch");

            // Add an event listener to the confirmPasswordField
            confirmPasswordField.on('input', function () {
                // Get the values of both password fields
                var password = passwordField.val();
                var confirmPassword = confirmPasswordField.val();

                // Compare the passwords
                if (password === confirmPassword) {
                    passwordMatchMessage.text("Passwords match").css("color", "green");
                } else {
                    passwordMatchMessage.text("Passwords do not match").css("color", "red");
                }
            });
        });
        //LoadRole();
        //LoadEmployee();
        //Initialize Select2 Elements
        $('.select2').select2()

        ////Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
        function LoadRole() {
            debugger;
            $.ajax({
                url: '/SA/UserInRole/GetRoles',
                success: function (data) {
                    $.each(data.data, function (i, item) {
                        console.log(data.data);
                        //console.log(item);
                        $("#RoleID").append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                        //$('#RoleID').append('<Option value=' + item.roleID + '>' + item.roleName + '</Option>');
                    });
                }
            });
        }

                function LoadEmployee() {
                debugger;
                $.ajax({
                    url: '/SA/UserInRole/GetEmployeeNotYetAssigned',
                    success: function (data) {
                        $.each(data.data, function (i, item) {
                            //console.log(item);
                            //$('#EmpID').append($('<option>', { value: item.empID, html: item.empName }, '<option/>'));
                        $("#EmpID").append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                        });
                    }
                });
            }
                $('#RoleID').change(function () {
                //$('#State').attr('disabled', false);
                var id = $(this).val();
                $('#EmpID').empty();
                $('#EmpID').append('<Option>---Select Employee---</Option>');
                $.ajax({
                    //url: '/Cascade/State?id=' + id,
                    url: '/SA/UserInRole/GetEmployeeNotYetAssigned?roleId=' + id,
                    success: function (data) {
                        $.each(data.data, function (i, item) {
                        $("#EmpID").append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                            //$('#EmpID').append('<Option value=' + item.empID + '>' + item.empName + '</Option>');
                        });
                    }
                });
            });
    </script>
  }



